<p id="notice"><%= notice %></p>

<h1><center><p style="font-size:30px">Book Tables</p></center></h1>

<table class="pure-table pure-table-bordered">
  <style>
        table, th, td {
           border: 1px solid black;
        }
     </style>
  <thead>

    <tr class="<%= cycle('pure-table-odd', '') -%>">

      <th>Book title</th>
      <th>Published year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book_tables.each do |book_table| %>
      <tr>
        <td><%= book_table.Book_Title %></td>
        <td><%= book_table.Published_year %></td>
        <td><%= link_to 'Show', book_table %></td>
        <td><%= link_to 'Edit', edit_book_table_path(book_table)%></td>
        <td><%= link_to 'Destroy', book_table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Book Table', new_book_table_path %>

<style>
  p.big {
line-height:1.8 ;
}
</style>
  <p class="big">
<footer><br>
  <p><b>Author: Rakhi Deokate</b></p>
  <p><a href="mailto:devkaterakhi@gmail.com"><b>devkaterakhi@gmail.com</b></a></p>
  </p>

  <i><b><marquee><p style="color:blue;">Thank You, For Visiting my Page.</p></marquee></i></b>
</footer>
